html {
    padding: 0px;
}
body {
    width: 100%;
    margin: 0px;
}
main {
    width: 100%;
    margin: 0px;
    background-color: rgb(50, 150, 256);
    text-align: center;
    padding-bottom: 10px;
}
#welcome-section {
    height: 100vh;
    width: 100%;
    margin: 10px, 0px, 10px, 0px;
    background-color: rgba(100, 100, 100, 0.7);
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
#navbar {
    border: 1px dotted red;
    background-color: rgba(256, 256, 256, 0.98);
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding-right: 5px;
}
#projects {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 15px 15px;
    padding: 15px 15px 0px 15px;
}
.tile {
    box-shadow: 3px 3px 5px black;
    border-radius: 3px;
    min-height: 300px;
    text-align: center;
    background-color: rgba(100, 100, 100, 0.7);
}
.project-img {
    width: 100%;
    height: auto;
}
#profile-link {
    border: 3px solid darkorange;
    border-radius: 5px;
    background-color: rgba(150, 150, 150, 0.7);
    width: 100px;
    height: 40px;
    margin: 10px auto 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    margin-top: 15px;
    text-align: center;
    background-color: rgb(50, 150, 256);
    padding: 10px;
    margin: 0px;
}
@media (min-width: 0px) {
    #projects {
        grid: 1fr / 1fr;
    }
}
@media (min-width: 600px) {
    #projects {
        grid: 1fr / repeat(2, 1fr);
    }
}
@media (min-width: 900px) {
    #projects {
        grid: 1fr / repeat(3, 1fr);
    }
}