html {
    padding: 0px;
}
body {
    width: 100%;
    margin: 0px;
}
main {
    border: 1px dotted green;
    width: 100%;
    margin: 0px;
    text-align: center;
}
#welcome-section {
    border: 1px solid blue;
    height: 100vh;
    width: 100%;
    margin: 10px, 0px, 10px, 0px;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
#navbar {
    border: 1px dotted red;
    background-color: rgba(256, 256, 256, 1);
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding-right: 5px;
}
#projects {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 15px 15px;
    padding: 15px 15px 0px 15px;
}
.tile {
    box-shadow: 3px 3px 5px black;
    min-height: 300px;
    text-align: center;
    background-color: grey;
}
.project-img {
    width: 100%;
    height: auto;
}
.link-button {
    border: 3px solid yellow;
    border-radius: 5px;
    background-color: grey;
    padding: 10px;

}
@media (min-width: 0px) {
    #projects {
        grid: 1fr / 1fr;
    }
}
@media (min-width: 600px) {
    #projects {
        grid: 1fr / repeat(2, 1fr);
    }
}
@media (min-width: 900px) {
    #projects {
        grid: 1fr / repeat(3, 1fr);
    }
}